@import '../../utils/variables';

.about {
  padding-top: $header-height;
  font-family: var(--default-content-font);

  @media (min-height: $breakpoint-md) {
    padding: $header-height 9rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    border-bottom: 1px solid var(--color-reversetextwithopacity);

    @media (min-width: $breakpoint-lg) {
      display: grid;
      grid-template-columns: 5fr 2fr;
      height: calc(100vh - 5rem);
    }

    @media (min-width: $breakpoint-lg) and (min-height: $breakpoint-small-height) {
      height: 600px;
    }

    .id_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 2;

      div {
        text-align: center;

        @media (min-width: $breakpoint-sm) {
          text-align: left;
        }
      }

      .initials {
        color: #e1e417;
      }

      .description {
        width: 80%;
        padding-top: 1rem;
        font-size: var(--font-size-normal-alt);
        line-height: 45px;

        @media (min-width: $breakpoint-lg) {
          text-align: left;
          margin-left: $title-offset;
        }
      }
    }

    .id_images {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: $breakpoint-lg) {
        order: 2;
      }

      .avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        height: 60%;
        width: 250px;

        img {
          border-radius: 50%;
        }
      }

      .cta__wrapper {
        display: none;

        @media (min-width: $breakpoint-lg) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 40%;
        }

        div {
          position: relative;
          cursor: pointer;

          svg {
            position: absolute;
            left: 50%;
            bottom: 15%;
            transform: translateX(-50%);
          }
        }
      }
    }

    .cta__wrapper__mobile {
      order: 3;
      margin: 1rem auto;

      div {
        position: relative;
        cursor: pointer;

        svg {
          position: absolute;
          left: 50%;
          bottom: 20%;
          transform: translateX(-50%);
        }
      }

      @media (min-width: $breakpoint-lg) {
        display: none;
      }
    }
  }

  .skills,
  .experience {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    @media (min-width: $breakpoint-lg) {
      display: grid;
      grid-template-columns: minmax(33%, 1fr) 2fr;
      padding: 2rem 0;
    }

    &:not(.experience) {
      border-bottom: 1px solid var(--color-reversetextwithopacity);
    }
  }

  .skills__list {
    list-style-type: none;
    padding: 0;

    .skill__item {
      display: flex;
      align-items: center;
      padding: 1.5rem 0;
      border-bottom: 1px solid var(--color-borderlight);
      font-size: var(--font-size-normal-alt);
      font-weight: var(--font-weight-regular);

      &:first-child {
        padding-top: 0;
      }

      &:last-of-type {
        @media (max-width: $breakpoint-lg) {
          border-bottom: none;
        }
      }

      svg {
        background-color: var(--color-reversebackground);
        margin-right: 1rem;
        padding: 0.2rem;
        border-radius: 50%;
        font-size: var(--font-size-bigger);
        color: var(--color-text);
        font-weight: var(--font-weight-medium);
      }
    }
  }

  .experience__content__wrapper {
    display: flex;
    align-items: center;
    height: 100%;

    .experience__content {
      display: flex;
      align-items: center;
      height: fit-content;
      width: 100%;
      padding: 1.5rem 0;
      border-bottom: 1px solid var(color-borderlight);

      > svg:first-of-type {
        background-color: var(--color-reversebackground);
        color: var(--color-text);
        margin-right: 1rem;
        padding: 0.4rem;
        border-radius: 50%;
        font-size: var(--font-size-bigger);
        font-weight: var(--font-weight-medium);
      }
    }
  }
}
