@import 'src/utils/variables';

$vertical-padding: 2.5rem;
$horizontal-padding: 3.5rem;

@mixin project-section-layout {
  position: relative;
  padding: $vertical-padding $horizontal-padding;

  &:before {
    position: absolute;
    content: '';
    top: $vertical-padding;
    width: calc(100% - 7rem);
    border-top: 1px solid var(--color-divider);
  }
}

.projectPage {
  padding-top: $header-height;

  .projectInfo {
    position: relative;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;

    h2 {
      margin: 2rem 0;
      font-size: var(--font-size-large);
      font-weight: 300;
    }

    .imageWrapper {
      position: absolute;
      width: 100%;
      max-height: 560px;
      bottom: -15%;
      right: -60%;
      overflow: hidden;
      border: 1px solid var(--color-reversetextwithopacity);
      border-radius: 5px;
    }
  }

  .projectInfoList {
    list-style-type: none;
    padding: 0;
    width: 50%;
  }

  .projectInfoItem {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--color-borderlight);
    font-size: var(--font-size-normal-alt);
    font-weight: var(--font-weight-regular);

    &:first-child {
      padding-top: 0;
    }

    &:last-of-type {
      @media (max-width: $breakpoint-lg) {
        border-bottom: none;
      }
    }

    svg {
      background-color: var(--color-reversebackground);
      margin-right: 1rem;
      padding: 0.2rem;
      border-radius: 50%;
      font-size: var(--font-size-bigger);
      color: var(--color-text);
      font-weight: var(--font-weight-medium);
    }

    a {
      text-transform: lowercase;
    }
  }

  .projectDetails {
    @include project-section-layout;

    h3 {
      font-size: var(--font-size-normal-alt);
      font-weight: var(--font-weight-regular);
    }

    .projectDescription {
      margin: 2rem 0;
      font-size: var(--font-size-large);
      font-weight: 400;
      font-style: italic;
    }

    .mainProjectImage {
      height: 1200px;
      overflow: hidden;

      img {
        object-position: 0 0;
      }
    }

    .otherProjectImages {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      grid-gap: 2rem;
      margin-top: 4rem;
      height: 1000px;
    }
  }

  .projectCTA {
    @include project-section-layout;
  }

  .projectCTAContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 25%;

    h3 {
      font-size: var(--font-size-medium-light);
      font-weight: var(--font-weight-bold);
      text-align: center;
    }
  }
}
