@import 'src/utils/variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--default-content-font);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--default-content-font);
  background: var(--color-background);
  color: var(--color-reversetext);
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

p {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}

.page-wrapper {
  //padding-top: $header-height;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all var(--medium-transition-time) ease;
}

.dark-switcher {
  color: var(--color-reversetext);
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &__toggle {
    font-size: 2rem;
    transition: opacity 0.3s ease-in;

    &--no-display {
      opacity: 0;
    }
  }
}

.dark a,
.dark a:visited {
  color: var(--color-text);
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.banner {
  position: absolute;
  top: $header-height;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  height: $banner-height-small;
  font-family: Rubik, sans-serif;
  color: #b8b8b8;
  font-weight: 300;
  font-size: var(--font-size-bigger);
  background: transparent;
  overflow: hidden;

  .banner-content {
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    animation: marquee 15s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .banner {
      white-space: normal;
    }
    .banner .banner-content {
      animation-iteration-count: 1;
      animation-duration: 0.01s;
      padding-left: 0;
    }
  }

  @media (min-width: $breakpoint-xsm) {
    height: $banner-height;
    font-size: var(--font-size-medium-light);
  }

  @media (min-width: $breakpoint-sm) {
    font-size: var(--font-size-medium);
  }
}

.content-wrapper {
  width: calc(100% - #{$layout-offset});
  max-width: $breakpoint-xl;
  margin: 0 auto;
  background-color: var(--color-background);
  height: 100%;

  &.full-height {
    padding-top: $header-height;
  }

  &.with-banner-full-height {
    @media (max-height: $breakpoint-large-height) {
      padding-top: $header-height;
    }

    @media (max-height: $breakpoint-small-height) {
      padding-top: calc(#{$header-height + 0.5 * $banner-height-small});
    }

    @media (min-width: $breakpoint-xsm) and (max-height: 668px) {
      padding-top: calc(#{$header-height + 0.5 * $banner-height});
    }
  }
}

.full-height-main {
  height: 100%;
}
