@import 'src/utils/variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--default-content-font);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--default-content-font);
  background: var(--color-background);
  color: var(--color-reversetext);
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

p {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all var(--medium-transition-time) ease;
}

.dark-switcher {
  color: var(--color-reversetext);
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &__toggle {
    font-size: 2rem;
    transition: opacity 0.3s ease-in;

    &--no-display {
      opacity: 0;
    }
  }
}

.dark a,
.dark a:visited {
  color: var(--color-text);
}

.content-wrapper {
  width: calc(100% - var(--layout-offset));
  max-width: var(--breakpoint-xl);
  margin: 0 auto;
  background-color: var(--color-background);
  height: 100%;
}

.full-height-main {
  height: 100%;
}
