@import 'src/utils/variables';

.contactPage {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: $header-height;
  height: 90%;
  font-family: var(--default-content-font);

  @media (min-width: $breakpoint-md) {
    grid-template-columns: 2fr 3fr;
  }

  .intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    > div:first-child {
      text-align: left;
    }

    img,
    svg {
      position: absolute;
      top: 130px;
      left: 50%;
      transform: translateX(-45%);
      height: 60%;

      @media (min-width: $breakpoint-md) {
        top: 200px;
        height: 75%;
      }
    }

    .blurElement {
      z-index: 100;
      position: absolute;
      left: 50%;
      bottom: 0;
      height: 2rem;
      width: 90%;
      transform: translateX(-50%);
      background: linear-gradient(
        to top,
        rgba(47, 45, 45, 1),
        rgba(47, 45, 45, 1),
        rgba(47, 45, 45, 0.8),
        rgba(47, 45, 45, 0)
      );
    }
  }

  .contactMeans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 0;
    list-style-type: none;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      align-items: initial;
      border-left: 1px solid var(--color-borderlight);
      border-right: 1px solid var(--color-borderlight);
    }

    .contactMeansItem {
      display: flex;
      align-items: center;
      height: 100%;

      @media (min-width: $breakpoint-md) {
        padding-left: 2rem;
        border-bottom: 1px solid var(--color-borderlight);
      }

      span {
        display: flex;
      }

      a {
        font-size: var(--font-size-default);
        font-weight: var(--font-weight-regular);
        color: var(--color-reversetext);
        text-transform: none;

        @media (min-width: $breakpoint-xsm) {
          font-size: var(--font-size-normal);
        }

        @media (min-width: $breakpoint-md) {
          font-size: var(--font-size-bigger);
        }
      }

      &:first-child {
        padding-top: 0;
      }

      svg {
        &.contactMeansType {
          margin-right: 1rem;
          border-radius: 30%;
          background-color: var(--color-background);
          color: var(--color-reversetext);
          font-size: var(--font-size-bigger);

          @media (min-width: $breakpoint-md) {
            padding: 0.6rem;
            font-size: var(--font-size-medium);
            color: var(--color-text);
            background-color: var(--color-reversebackground);
          }
        }

        &.contactMeansArrow {
          margin-left: 1rem;
          padding: 0.2rem;
          border-radius: 50%;
          background-color: var(--color-background);
          color: var(--color-reversetext);
          font-size: var(--font-size-cta);

          @media (min-width: $breakpoint-md) {
            font-size: var(--font-size-bigger);
          }
        }
      }
    }
  }
}
