@import 'src/utils/variables';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  @media (max-width: $breakpoint-md) {
    padding-top: var(--layout-header-height);
  }

  &__title {
    flex: 8.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint-md) {
      align-items: flex-start;
    }

    p {
      text-align: center;
    }
    // Title with the offset on desktop
    > div:first-child {
      @media (min-width: $breakpoint-md) {
        text-align: left;
        margin-left: var(--layout-title-offset);
      }
    }

    // Title that wraps the CTA
    > div:last-child {
      position: relative;

      // CTA
      > div {
        cursor: pointer;
        margin: 1rem auto;

        @media (min-width: $breakpoint-md) {
          position: absolute;
          right: -11rem;
          top: 5rem;
          margin: 0;
        }

        // offset the p according to the svg to center
        // vertically on last line of the p
        p {
          margin-top: 0.6rem;

          svg {
            margin-top: 0.6rem;
          }
        }
      }
    }
  }

  &__links {
    flex: 1.5;
    align-self: stretch;
    display: flex;
    justify-content: space-around;
    height: 2.5rem;
    margin-top: auto;

    a {
      margin: auto 0;

      @media (min-width: $breakpoint-md) {
        margin: 0 0 1rem 0;
      }
    }

    @media (min-width: $breakpoint-md) {
      flex-direction: column;
      justify-content: center;
      width: 6rem;
      margin-bottom: 2.5rem;
    }
  }
}

.homeProjectsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0;
  grid-row-gap: 1.25rem;

  @media (min-width: $breakpoint-sm) and (min-height: $breakpoint-small-height) {
    grid-row-gap: 3rem;
  }

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: initial;
    width: 80%;
    margin: 0 auto;
  }

  > a:nth-child(even) {
    @media (min-width: $breakpoint-md) {
      margin-top: 15%;
    }
  }

  a {
    height: fit-content;
  }
}
