@import 'src/utils/variables';

.lolz {
  font-family: var(--fontfamily3);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 25rem;
    width: 63.2rem;

    > p:first-child {
      margin-left: 6rem;
      margin-bottom: 11%;
      margin-top: 2rem;

      @media (min-width: $lg) {
        margin-top: initial;
      }
    }

    > div {
      align-self: flex-end;
      margin-right: 9rem;
      cursor: pointer;

      p {
        margin-top: 0.8rem;

        svg {
          margin-top: 0.8rem;
        }
      }
    }
  }

  &__links {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2.5rem;
    width: 5rem;
    margin-top: auto;

    @media (min-width: $lg) {
      margin-bottom: 2.5rem;
    }
  }
}
