@import 'src/utils/variables';

.headerWrapper {
  position: absolute;
  top: 0;
  left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  width: calc(100% - var(--layout-offset));
  max-width: $breakpoint-xl;
  font-family: var(--default-content-font);
  border-bottom: $header-border solid var(--color-divider);

  // TODO: Why + 0.25rem??? ¯\_(ツ)_/¯
  @media (min-width: $breakpoint-xl + $layout-offset + 0.25rem) {
    left: 0;
    margin-left: calc((100vw - #{$breakpoint-xl}) * 0.5);
  }

  &__gg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 5rem;

    p {
      margin: 0;
      font-family: var(--default-content-font);
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      line-height: 1rem;
      color: var(--color-reversetext);

      &:first-of-type {
        text-align: right;
      }
    }
  }

  &__logo {
    text-decoration: none;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--color-reversetext);

    li {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 0.7rem 0 0;
      font-size: var(--font-size-small);
      text-transform: capitalize;

      @media (min-width: $breakpoint-xsm) {
        font-size: var(--font-size-normal);
        font-weight: var(--font-weight-regular);
        margin: 0 1rem 0 0;
      }

      @media (min-width: $breakpoint-md) {
        margin: 0 2rem 0 0;
      }

      &.lang__wrapper {
        width: 1.3rem;
        margin: 0 0.5rem 0 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      margin: 0;
      color: var(--color-reversetext);

      &:not(.lang):before {
        content: '';
        position: absolute;
        top: 1.5rem;
        left: 0;
        width: 0;
        transition: all var(--default-transition-time) ease-in;
      }

      &.active {
        font-weight: var(--font-weight-bold);

        &:before {
          content: '';
          position: absolute;
          top: 1.5rem;
          left: 0;
          width: 100%;
          border-bottom: 1px solid var(--color-reversetext);
        }
      }

      &:hover:before {
        width: 100%;
        border-bottom: 1px solid var(--color-reversetext);
      }
    }
    .projects__number {
      position: absolute;
      top: -8px;
      right: -8px;
      font-size: var(--font-size-small);
    }
  }
}
