@import 'src/utils/variables';

// Styles
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: calc(100% - 4rem);
  max-width: $xl;
  margin: 0 auto;
  font-family: $default-content-font;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &__gg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 5rem;

    p {
      font-size: 1rem;
      font-weight: $medium;
      line-height: 1rem;
      margin: 0;

      &:first-of-type {
        text-align: right;
      }
    }
  }

  &__logo {
    text-decoration: none;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: $regular;
      line-height: 1rem;
      margin: 0 2rem 0 0;
      text-transform: capitalize;

      &.lang__wrapper {
        width: 1.3rem;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      margin: 0;

      &:not(.lang):before {
        content: '';
        position: absolute;
        top: 1.5rem;
        left: 0;
        width: 0;
        transition: all $default-transition-time ease-in;
      }

      &.active {
        font-weight: $bold;

        &:before {
          content: '';
          position: absolute;
          top: 1.5rem;
          left: 0;
          width: 100%;
          border-bottom: 1px solid $main-light;
        }
      }

      &:hover:before {
        width: 100%;
        border-bottom: 1px solid $main-light;
      }
    }
    .projects__number {
      position: absolute;
      top: -8px;
      right: -8px;
      font-size: $font-size-small;
    }
  }
}
