// If you make modifications to this file, restart your server
@import url('https://fonts.googleapis.com/css?family=Piazzolla&family=Rubik&display=swap');

//breakpoints
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1440px;
$medium-height: 700px;

//fonts
$default-title-font: Piazzolla, serif;
$default-content-font: Rubik, sans-serif;

//font-size
$font-size-xxl: 165px;
$font-size-xl: 140px;
$font-size-very-large: 100px;
$font-size-large: 70px;
$font-size-medium: 25px;
$font-size-normal: 16px;
$font-size-default: 14px;
$font-size-small: 12px;

//font-weight
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

//colors:
$main-dark: #2f2d2d;
$main-dark-lighter: #b8b8b8;
$main-light: #fff;
$secondary-dark: #2a2b2d;
$secondary-light: #fefefe;

//transition:
$default-transition-time: 0.3s;
$medium-transition-time: 0.6s;

:root {
  breakpointsm: $sm;
  breakpointmd: $md;
  breakpointlg: $lg;
  breakpointxl: $xl;
  mediumheight: $medium-height;
  defaulttitlefont: $default-title-font;
  defaultcontentfont: $default-content-font;
  fontsizexxl: $font-size-xxl;
  fontsizexl: $font-size-xl;
  fontsizeverylarge: $font-size-very-large;
  fontsizelarge: $font-size-large;
  fontsizemedium: $font-size-medium;
  fontsizenormal: $font-size-normal;
  fontsizedefault: $font-size-default;
  fontsizesmall: $font-size-small;
  fontweightbold: $bold;
  fontweightsemibold: $semi-bold;
  fontweightmedium: $medium;
  fontweightregular: $regular;
  fontweightlight: $light;
  colormaindark: $main-dark;
  colormaindarklighter: $main-dark-lighter;
  colormainlight: $main-light;
  defaulttransitiontime: $default-transition-time;
}
