// If you make modifications to this file, restart your server

// Breakpoints. Need scss version for media queries
// Styled Components version in the constant.js file
$breakpoint-xsm: 325px; // before that breakpoint: old smartphones such as iphone 5
$breakpoint-sm: 600px; // start of tablets
$breakpoint-md: 960px; // start of desktops
$breakpoint-lg: 1280px;
$breakpoint-xl: 90rem;
$breakpoint-small-height: 668px;
$breakpoint-large-height: 1300px;
$breakpoint-x-large-height: 1700px;

// layout variables
$header-height: 5rem;
$header-border: 1px;

$title-offset: 6rem;

// Needed for media queries since css variables don't work
$layout-offset: 4rem;

// To get access to variables in the styles components
:root {
  //fonts
  --default-title-font: Roboto, sans-serif;
  --default-content-font: Rubik, sans-serif;
  --project-text-color: #282828;

  //font-size
  --font-size-xl: 8.5rem;
  --font-size-very-large: 7rem;
  --font-size-large: 4.5rem;
  --font-size-medium: 3.2rem;
  --font-size-medium-light: 2.5rem;
  --font-size-bigger: 1.8rem;
  --font-size-cta: 1.5rem;
  --font-size-normal-alt: 1.1rem;
  --font-size-normal: 1rem;
  --font-size-default: 0.8rem;
  --font-size-small: 0.75rem;

  //font-weight
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  //transition:
  --default-transition-time: 0.3s;
  --medium-transition-time: 0.6s;

  //offset:
  --layout-offset: 4rem;
}
